body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat';
    background: url(./image/pic.jpg) no-repeat center center fixed;
    background-size: cover;

}

hr {
    border-color: #f05f44;
    border-width: 3px;
    max-width: 65px;
}

h1 {
    font-size: 3rem;
    color: #e2dbde;
    padding-left: 35px;

}

.btn {
    font-weight: 30px;

    border-radius: 300px;
    text-transform: uppercase;
}

button-xl {
    padding: 1rem 1rem;
}

.btn-primary {
    background-color: #f05f44;
    border-color: #f05f44;
}

.btn-primary:hover {
    background-color: #ee4b08;
    border-color: #ee4b08;
    border-width: 4px;
}



.buffer {
    height: 15rem;
}